<main class="service_body">
    <nav class="home_navbar">
        <% if @presence == 0 %>
    <li><a href="/signin">
                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2' %>
                </button>
            </a>
</li>
         <li>
            <a href="/service" class="home_nav_links">Service</a>
        </li>
        <li>
            <a href="/about" class="home_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="home_nav_links" >Home</a>
        </li>

<% elsif%>
            <% if @presence == 1%>
           <% if @user.role == "admin"%>
                 <div class="home_admin_dropdown" id="home_admin_dropdown">
                                                <ul>
                                                    <li class="user_name_drop_button">
                                                        <%= @user.username %>
                                                    </li>
                                                    <li class="user_logout_drop_button">
                                                        <%= link_to destroy_session_path, method: :delete do %>
                                                            <button class="home_logout"> <span>Log out</span></button>
                                                            <% end %>
                                                    </li>
                                                </ul>
                                            </div>

                       <li>

                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                </button>

            </li>
                  <li>
            <a href="/buses/index" class="home_nav_links">List all Bus</a>
        </li>

        <li>
            <a href="/service" class="home_nav_links" >Service</a>
        </li>
        <li>
            <a href="/about" class="home_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="home_nav_links">Home</a>
        </li>


            <% end %>
            <% end %>


        <% else %>
          <div class="home_admin_dropdown" id="home_admin_dropdown">
                                                <ul>
                                                    <li class="user_name_drop_button">
                                                        <%= @user.username %>
                                                    </li>
                                                    <li class="user_logout_drop_button">
                                                        <%= link_to destroy_session_path, method: :delete do %>
                                                            <button class="home_logout"> <span>Log out</span></button>
                                                            <% end %>
                                                    </li>
                                                </ul>
                                            </div>

              <li>

                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                </button>

            </li>
            <li>
            <a href="/bookings" class="home_nav_links">My bookings</a>
        </li>
        <li>
            <a href="/service" class="home_nav_links" >Service</a>
        </li>
        <li>
            <a href="/about" class="home_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="home_nav_links" >Home</a>
        </li>



         <% end %>


       </nav>

      <h1 class="booking_title">
        Account related questions
      </h1>


      <div class="booking_whole_div" >
          <article>
            <h2>1. Is there any registration fee?</h2>
            <p class="faq_text"> There is no registration fee or any kind of booking fees. You pay only the ticket price. </p>
          </article>

          <article>
            <h2>2. Is my account information safe?</h2>
            <p class="faq_text">Your personal and travel details are safe and we dont share it with any third party agencies.</p>
          </article>

          <article>
            <h2>3. How does it work? </h2>
            <p class="faq_text">Create an account using your email to get started with the booking. All booking confirmations will be sent to your Primary email and phone number. You can forward the message to your co-passanger or friend, if in case you have booked on behalf of them.</p>
          </article>

          <article>
            <h2>4. How to close my Pola account?</h2>
            <p class="faq_text">We hate to see you leave us and we can address if you are facing any issues. You could uninstall the App or you can logout from your profile section Your booking history will be archived and available whenever you login in the future.</p>
          </article>
      </div>

</main>
