<main class="home_body">
    <nav class="home_navbar">
        <% if @presence == 0 %>
            <li>
                <a href="/signin">
                    <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2' %>
                </button>
                </a>
            </li>
            <li>
                <a href="/service" class="home_nav_links">Service</a>
            </li>
            <li>
                <a href="/about" class="home_nav_links">About</a>
            </li>
            <li>
                <a href="/home" class="home_nav_links" id="home_active">Home</a>
            </li>
            <% elsif %>
                <% if @presence == 1%>
                    <% if @user.role == "admin"%>
                        <div class="home_admin_dropdown" id="home_admin_dropdown">
                            <ul>
                                <li class="user_name_drop_button">
                                    <%= @user.username %>
                                </li>
                                <li class="user_logout_drop_button">
                                    <%= link_to destroy_session_path, method: :delete do %>
                                        <button class="home_logout"> <span>Log out</span></button>
                                        <% end %>
                                </li>
                            </ul>
                        </div>

                        <li>

                            <button id="home_profile_icon_2">
                                            <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                                        </button>

                        </li>
                        <li>
                            <a href="/buses/index" class="home_nav_links">List all Bus</a>
                        </li>

                        <li>
                            <a href="/service" class="home_nav_links">Service</a>
                        </li>
                        <li>
                            <a href="/about" class="home_nav_links">About</a>
                        </li>
                        <li>
                            <a href="/home" class="home_nav_links" id="home_active">Home</a>
                        </li>


                        <% end %>
                            <% end %>
                                <% else %>
                                    <div class="home_admin_dropdown" id="home_admin_dropdown">
                                        <ul>
                                            <li class="user_name_drop_button">
                                                <%= @user.username %>
                                            </li>
                                            <li class="user_logout_drop_button">
                                                <%= link_to destroy_session_path, method: :delete do %>
                                                    <button class="home_logout"> <span>Log out</span></button>
                                                    <% end %>
                                            </li>
                                        </ul>
                                    </div>



                                    <li>

                                        <button id="home_profile_icon_2">
                        <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                    </button>


                                    </li>


                                    <li>
                                        <a href="/bookings" class="home_nav_links">My bookings</a>
                                    </li>

                                    <li>
                                        <a href="/service" class="home_nav_links">Service</a>
                                    </li>

                                    <li>
                                        <a href="/about" class="home_nav_links">About</a>
                                    </li>

                                    <li>
                                        <a href="/home" class="home_nav_links" id="home_active">Home</a>
                                    </li>

                                    <% end %>

    </nav>


    <div class="home_first_div">
        <p class="home_text">BOOK YOUR TICKET</p>
        <br>

        <form action="/search_bus" method="post">
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="text" name="from_location" class="home_from_place" placeholder="Select Pickup City">
            <input type="text" name="to_location" class="home_to_place" placeholder="Select Drop City">
            <input type="text" name="date" class="home_date_of_journey" placeholder="Select Date" onfocus="(this.type='date')" onblur="(this.type='text')" min=<%="#{Date.today+1}" %>><br>
            <button type="submit" class="home_search_bus">CHECK AVAILABILITY</button>
        </form>

        <div class="home_from_icon_div">
            <%= image_tag 'location_icon.png', alt:'icon',  class: 'home_location_icon' %>
        </div>
        <div class="home_to_icon_div">
            <%= image_tag'flag-icon.png', alt:'icon',class: 'home_flag_icon' %>
        </div>
        <div class="home_date_icon_div">
            <%= image_tag 'date-icon.png', alt: 'icon', class:'home_date_icon' %>
        </div>
    </div>

    <div class="home_second_div slider">
        <p class="home_offers_text">POLA OFFERS FOR YOU
        </p>


        <div class="home_carousel">
            <div>
                <h3> <img src="<%= asset_path 'home_offer7' %>" class="home_offer_img1" width="450px" height="280px">
                </h3>
            </div>
            <div>
                <h3> <img src="<%= asset_path 'home_offer9' %>" class="home_offer_img2" width="450px" height="280px">
                </h3>
            </div>
            <div>
                <h3> <img src="<%= asset_path 'home_offer8' %>" class="home_offer_img3" width="450px" height="280px">
                </h3>

            </div>
            <div>
                <h3> <img src="<%= asset_path 'home_offer5' %>" class="home_offer_img4" width="450px" height="280px">
                </h3>

            </div>
            <div>
                <h3> <img src="<%= asset_path 'home_offer10' %>" class="home_offer_img5" width="450px" height="280px">
                </h3>
            </div>
        </div>
    </div>
    <div class="home_third_div">
        <p class="home_instruction_guide_text">POLA'S INSTRUCTION GUIDE</p>
        <div class="home_instruction1_div">
            <img src="<%=asset_path 'search-new-1.png'%>" class="home_search_illustrator">
            <p class="home_instruction1_heading">Search Buses </p>
            <p class="home_instruction1_text">Enter the source and destination locations in the 'From' and 'To' tab respectively. Enter the 'Date of Journey' and hit the 'Search Buses' button.</p>
        </div>
        <div class="home_instruction2_div">
            <img src="<%=asset_path 'book.png' %>" class="home_book_illustrator">
            <p class="home_instruction2_heading">Book Ticket </p>
            <p class="home_instruction2_text">Select a bus of your choice from the list of buses that are displayed, select a seat, boarding, and dropping points and hit 'Continue to Book Tickets'.</p>
        </div>
        <div class="home_instruction3_div">
            <img src="<%= asset_path 'pay-1.png' %>" class="home_pay_illustrator">
            <p class="home_instruction3_heading">Payment</p>
            <p class="home_instruction3_text">After clicking 'Continue to Book Tickets', you will be asked to pay for the ticket. We provide various options for you to pay. You can pay via credit/debit card,net banking, and so on.</p>
        </div>
        <div class="home_instruction4_div">
            <img src="<%=asset_path 'bus travel-1.png' %>" class="home_bus_illustrator">
            <p class="home_instruction4_heading">Travel</p>
            <p class="home_instruction4_text">Travel Safe with deep cleaned and disinfected bus equipped with hand sanitizers, all staff with masks at all time during the journey. Happy Ticketing!</p>
        </div>
    </div><br>



    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.home_carousel').slick({
                slidesToShow: 3,
                slidesToScroll: 1,
                autoplay: false,
                autoplaySpeed: 2000,
                slidesToShow: 3,
                arrows: true,
                dots: false
            });
        })
    </script>
    <script>
        function dropdown() {
            document.getElementById("home_admin_dropdown").style.display = "block";
        }

        window.onclick = function(e) {
            if (!e.target.matches('.home_pola_profile_2')) {
                var myDropdown = document.getElementById("home_admin_dropdown");
                if (myDropdown.style.display = "block") {
                    myDropdown.style.display = "none";
                }
            }
        }
    </script>

</main>
<footer class="home_footer">
    <p class="home_footer_text">POLA</p>
    <a href="https://www.instagram.com/">
        <img src="<%=asset_path 'insta.png' %>" class="home_icon_insta">
    </a>
    <a href="https://web.whatsapp.com/">
        <img src="<%=asset_path 'whats.png' %>" class="home_icon_whats">
    </a>
    <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJlJVXWzhnVxmPxKzlGqjwwTXwTcDCrRZsgZKmNQsxvkSnsxFMVQtnsfHgWWKbNVjPFDbTL">
        <img src="<%=asset_path 'mail.png' %>" class="home_icon_mail">
    </a>
    <div class="home_copyrights">
        ©2022 polagroup All rights reserved

    </div>

</footer>
