<main class="service_body">
    <nav class="home_navbar">
        <% if @presence == 0 %>
    <li><a href="/signin">
                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2' %>
                </button>
            </a>
</li>
         <li>
            <a href="/service" class="home_nav_links" id="home_active">Service</a>
        </li>
        <li>
            <a href="/about" class="home_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="home_nav_links" >Home</a>
        </li>

<% elsif%>
            <% if @presence == 1%>
           <% if @user.role == "admin"%>
                 <div class="home_admin_dropdown" id="home_admin_dropdown">
                                                <ul>
                                                    <li class="user_name_drop_button">
                                                        <%= @user.username %>
                                                    </li>
                                                    <li class="user_logout_drop_button">
                                                        <%= link_to destroy_session_path, method: :delete do %>
                                                            <button class="home_logout"> <span>Log out</span></button>
                                                            <% end %>
                                                    </li>
                                                </ul>
                                            </div>

                       <li>

                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                </button>

            </li>
                  <li>
            <a href="/buses/index" class="home_nav_links">List all Bus</a>
        </li>

        <li>
            <a href="/service" class="home_nav_links"  id="home_active">Service</a>
        </li>
        <li>
            <a href="/about" class="home_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="home_nav_links">Home</a>
        </li>


            <% end %>
            <% end %>


        <% else %>
          <div class="home_admin_dropdown" id="home_admin_dropdown">
                                                <ul>
                                                    <li class="user_name_drop_button">
                                                        <%= @user.username %>
                                                    </li>
                                                    <li class="user_logout_drop_button">
                                                        <%= link_to destroy_session_path, method: :delete do %>
                                                            <button class="home_logout"> <span>Log out</span></button>
                                                            <% end %>
                                                    </li>
                                                </ul>
                                            </div>

 <li>

                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                </button>

            </li>
            <li>
            <a href="/bookings" class="home_nav_links">My bookings</a>
        </li>
        <li>
            <a href="/service" class="home_nav_links" id="home_active">Service</a>
        </li>
        <li>
            <a href="/about" class="home_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="home_nav_links" >Home</a>
        </li>



         <% end %>


    </nav>
    <div class="service_first_div">
        <p class="service_heading">RELIABLE, SAFE AND <br> PROFESSIONAL SERVICES</p>
                    <div id="service_icon_div1">
                    <%= image_tag 'image 5.png', alt:'icon', class:'service_icon1' %>
                    <p class="service_icon1_text">Easy Booking</p>
                    </div>
                    <div id="service_icon_div2">
                    <%= image_tag 'image 6.png', alt:'icon', class:'service_icon2' %>
                    <p class="service_icon2_text">Comfortable Bus</p>
                    </div>
                    <div id="service_icon_div3">
                    <%= image_tag 'image 7.png', alt:'icon', class:'service_icon3' %>
                    <p class="service_icon3_text">Support 22/7</p>
                    </div>
                    <div id="service_icon_div4">
                    <%= image_tag 'image 8.png', alt:'icon', class:'service_icon4' %>
                    <p class="service_icon4_text">Low Cost</p>
                    </div>
    </div>
    <div class="service_second_div">
        <p class="service_customer_service">CUSTOMER SERVICE</p>
        <p class="servive_cs_text">We are here to answer all your travel related queries.</p>
        <%# <div class="service_cs_1"></div>
        <div class="service_cs_1"></div>
        <div class="service_cs_2"></div> %>
       <div class="service_cs_divs">
            <div class="service_cs_container1">
                 <i class="fa-solid fa-ticket fa-5x" ></i>
                 <div class="serice_overlay_1">
                    <p class="service_cs_1_text1">Book Ticket</p>
                 </div>
            </div>
            <div class="service_cs_2">
                <i class="fa-solid fa-money-check fa-5x"></i>
            </div>
            <div class="service_cs_3">
                <i class="fa-solid fa-ticket-simple fa-5x"></i>
            </div>
            <div class="service_cs_4">
                <i class="fa-solid fa-receipt fa-5x"></i>
            </div>
            <div class="service_cs_5">
                <i class="fa-solid fa-address-card fa-5x"></i>
            </div>
            <div class="service_cs_6">
           <i class="fa-solid fa-inbox fa-5x"></i>
            </div>
       </div>
    </div>
    <div class="service_third_div">
        <div id="service_number_div1">
            <p class="service_number1">10,000</p>
            <p class="service_number1_text">Routes</p>
        </div>
        <div id="service_number_div2">
            <p class="service_number2">250</p>
            <p class="service_number2_text">Bus partners</p>
        </div>
        <div id="service_number_div3">
            <p class="service_number3">30s</p>
            <p class="service_number3_text">Instant E-Ticket</p>
        </div>
        <div id="service_number_div4">
            <p class="service_number4">50,000</p>
            <p class="service_number4_text">Happy Customers</p>
        </div>
    </div>
</main>
 <script>
        function dropdown() {
            document.getElementById("home_admin_dropdown").style.display = "block";
        }

        window.onclick = function(e) {
            if (!e.target.matches('.home_pola_profile_2')) {
                var myDropdown = document.getElementById("home_admin_dropdown");
                if (myDropdown.style.display = "block") {
                    myDropdown.style.display = "none";
                }
            }
        }
    </script>
