


<% if @bus_list.length != 0 %>



<div class="list_bus_div">
<% @bus_list.each do |bus| %>
    <div class="list_bus_single">

        <% @bus_shift = BusShift.find(bus) %>
        <% @bus_main = Bus.find(@bus_shift.id) %>

        <p class="list_bus_name">
            <%= @bus_main.travel_name %>
        </p>

        <div class="list_bus_type_div">
            <p class="list_bus_type">
                <% if @bus_main.bus_type == true%>
                AC
                <% else %>
                Non-AC
                <% end %>
            </p>

            <p class="list_bus_hifn1">-</p>

            <p class="list_bus_seat_type">
                <% if @bus_main.seat_type == true%>
                Sleeper
                <% else %>
                Seater
                <% end %>
            </p>

            <p class="list_bus_hifn2">-</p>

            <p class="list_bus_seats">
                <%= @bus_main.number_of_seats %> Seats
            </p>
        </div>

        <div class="list_bus_review">
            5 <i class="fa-solid fa-star"></i>
        </div>

         <div class="list_bus_left">
            <p class="list_bus_dept_text">
                Departure
            </p>

            <p class="list_bus_depature_time">
                <%= @bus_shift.departure_time.strftime("%I:%M %p")%>
            </p>

            <p class="list_bus_from_place">
                <%= Place.find(@bus_shift.from_location_id).place %>
            </p>
        </div>

        <p class="list_bus_line1"></p>

        <div class="list_bus_right">
            <p class="list_bus_arr_text">
                Arrival
            </p>

            <p class="list_bus_arrival_time">
                <%= @bus_shift.arrival_time.strftime("%I:%M %p")%>
            </p>

            <p class="list_bus_to_place">
                <%= Place.find(@bus_shift.to_location_id).place %>
            </p>
        </div>

        <p class="lbus_fare">
            INR <%= @bus_shift.fare %>
        </p>

        <% if @presence == 1 %>
            <button class="lbus_bkticket" onclick="bookticket()">
                Book Tickets
            </button>

            <div class="main-popup" id="popup">
                <div class="popup">
                    <div class="overlay" id="overlay">
                        <span class="lbus_close" onclick="cross()">&times;</span>
                        <div class="overlay_button_div">

                        <form action="/book/bus" method="post">
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                            <p class="lbus_seats_avail" id="lbus_seats_avail">
                                Number of seats available - 20
                            </p><br>
                            <input placeholder="Seats you want to book" type="text" class="lbus_seats_wanted" name="seats_wanted" required><br>
                            <input placeholder="Main Passenger's Name" type="text" class="lbus_passenger_name"  name="main_passenger_name" required><br>
                            <input placeholder="Main Passenger's Age" type="text" class="lbus_age"  name="age" required><br>
                            <input placeholder="Main Passenger's Phone number" type="text" class="lbus_phone_number" name="phone_number" required><br>

                            <button onclick="overlaysubmit()" class="lbus_proceed_btn">Proceed to pay</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-popup2" id="popup2">
                <div class="popup2">
                    <div class="overlay2" id="overlay2">
                        <span class="lbus_close" onclick="crossign()">&times;</span>
                        <p class="lbus_pay_text">
                        PAYMENT DETAILS
                        </p>

                        <p class="lbus_lbus_total_fare">
                            Amount to be paid is ₹900
                        </p>

                        <form action="/create_new_user" method="post">
                                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                                <input placeholder="Card Number" type="text" class="lbus_card_number"/>
                                <br>
                                <input placeholder="Cardholder Name" type="text" class="lbus_card_holder_name" />
                                <br>
                                <input placeholder="MM" type="text" class="lbus_card_month" />
                                /
                                <input placeholder="YYYY" type="text" class="lbus_card_year"/>
                                <input placeholder="CVV" type="text" class="lbus_card_cvv"/>
                                <br>
                                <button class="lbus_confirm_btn">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>

        <%else%>
                <button class="lbus_bkticket" onclick="window.location.href='/signin'">
                Book Tickets
            </button>
        <% end%>


    </div>



<% end%>
</div>




<% else %>

    <%= image_tag 'nothing.jpeg', alt:'icon',  class: 'lbus_nothing_illus' %>
    <p class="lbus_nobus_text">Oops! No buses available</p>

<% end %>


<script>
    function bookticket() {
        document.getElementById("popup").classList.toggle("active");
    }

    function cross() {
        var crosscut = document.getElementById("popup");
        if (crosscut.classList.contains('active')) {
            crosscut.classList.remove('active');
        }
    }

    function overlaysubmit() {
        document.getElementById("popup2").classList.toggle("show");
        var crosscut = document.getElementById("popup");
        if (crosscut.classList.contains('active')) {
            crosscut.classList.remove('active');
        }
    }

    function crossign() {
        var crosscut = document.getElementById("popup2");
        if (crosscut.classList.contains('show')) {
            crosscut.classList.remove('show');
        }
    }
</script>
