<div class="book_tickets_whole_div"  >
                <div class="hi">
                    <div class="overlay" id="overlay">

                        <div class="overlay_button_div">

                            <% @count = 0 %>
                            <%BookingDetail.where(bus_id: @bus_main.id).each do|detail|%>
                                  <%@count += detail.seats_wanted%>
                            <%end%>

                                <% if @bus_main.number_of_seats - @count > 0%>
                               <p class="lbus_seats_avail" id="lbus_seats_avail">
                                Number of seats available - <%= @bus %>
                                <%# <span class="lbus_close1" onclick="cross()">&times;</span> %>

                            </p><br>
                             <form action="/book/bus" method="post">
                            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
                            <input type="hidden" value = <%= @bus_main.number_of_seats - @count%> name="number_of_seats_available">
                            <input type="hidden" name="bus_id" value=<%= @bus_main.id %>>
                            <input type="hidden" name="bus_shift_id" value=<%= @bus_shift.id %>>
                            <input placeholder="Seats you want to book" type="number" class="lbus_seats_wanted" name="seats_wanted" required><br>
                            <input placeholder="Main Passenger's Name" type="text" class="lbus_passenger_name"  name="main_passenger_name" required><br>
                            <input placeholder="Main Passenger's Age" type="number" class="lbus_age"  name="age" required><br>
                            <input placeholder="Main Passenger's Phone number" type="text" class="lbus_phone_number" name="phone_number" required><br>

                            <button onclick="overlaysubmit()" type="submit" class="lbus_proceed_btn">Proceed to pay</button>
                        </form>
                        <% else%>
                        <%# <span class="lbus_close3" onclick="cross()">&times;</span> %>
                           <p class="lbus_none">No seats available</p>
                        <% end %>
                        </div>
                    </div>
                </div>
            </div>
