

   <nav class="list_bus_navbar">
        <% if @presence == 0 %>
    <li><a href="/signin">
                <button id="list_bus_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'list_bus_pola_profile_2' %>
                </button>
            </a>
</li>
         <li>
            <a href="/service" class="list_bus_nav_links" >Service</a>
        </li>
        <li>
            <a href="/about" class="list_bus_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="list_bus_nav_links" >Home</a>
        </li>

<% elsif @presence == 1 %>


           <% if @user.role == "admin"%>
            <div class="home_admin_dropdown" id="home_admin_dropdown">
                                                <ul>
                                                    <li class="user_name_drop_button">
                                                        <%= @user.username %>
                                                    </li>
                                                    <li class="user_logout_drop_button">
                                                        <%= link_to destroy_session_path, method: :delete do %>
                                                            <button class="home_logout"> <span>Log out</span></button>
                                                            <% end %>
                                                    </li>
                                                </ul>
                                            </div>

                       <li>

                <button id="home_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'home_pola_profile_2', onclick:'dropdown()' %>
                </button>

            </li>
            </li>
            <li>
            <a href="/buses/index" class="list_bus_nav_links" id="list_bus_active">List all Bus</a>
        </li>
        <li>
            <a href="/user_bookings/<%=@user.id%>" class="home_nav_links">My bookings</a>
        </li>
        <li>
            <a href="/service" class="list_bus_nav_links" >Service</a>
        </li>
        <li>
            <a href="/about" class="list_bus_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="list_bus_nav_links">Home</a>
        </li>



            <% end %>


        <% else %>
       <div class="home_admin_dropdown" id="home_admin_dropdown">
                                                <ul>
                                                    <li class="user_name_drop_button">
                                                        <%= @user.username %>
                                                    </li>
                                                    <li class="user_logout_drop_button">
                                                        <%= link_to destroy_session_path, method: :delete do %>
                                                            <button class="home_logout"> <span>Log out</span></button>
                                                            <% end %>
                                                    </li>
                                                </ul>
                                            </div>

            <li>

                <button id="list_bus_profile_icon_2">
                    <%= image_tag 'pola_profile.png', alt:'icon', class:'list_bus_pola_profile_2', onclick:'dropdown()' %>
                </button>

            </li>
        <li>
            <a href="/user_bookings/<%=@user.id%>" class="home_nav_links">My bookings</a>
        </li>
        <li>
            <a href="/service" class="list_bus_nav_links">Service</a>
        </li>
        <li>
            <a href="/about" class="list_bus_nav_links">About</a>
        </li>
        <li>
            <a href="/home" class="list_bus_nav_links" >Home</a>
        </li>
         <% end %>

    </nav>

<%= link_to "/buses/new",method: :get do%>
<button class="list_bus_add_bus_btn">

  <em class="fa-solid fa-plus"></em> Add Bus
</button>
<% end %>



<div class="list_bus_div">

 <% @bus.each do|bus|%>

  <div class="list_bus_single">

    <p class="list_bus_name">
      <%= bus.travel_name %>
    </p>

    <div class="list_bus_type_div">
      <p class="list_bus_type">
        <% if bus.bus_type == true%>
          AC
        <% else %>
          Non-AC
        <% end %>
      </p>

      <p class="list_bus_hifn1">-</p>

      <p class="list_bus_seat_type">
        <% if bus.seat_type == true%>
          Sleeper
       <% else %>
         Seater
        <% end %>
      </p>

      <p class="list_bus_hifn2">-</p>

      <p class="list_bus_seats">
        <%= bus.number_of_seats %> Seats
      </p>
    </div>

    <div class="list_bus_review">
        5 <em class="fa-solid fa-star"></em>
    </div>

     <% @bus_shift = BusShift.find_by(bus_id: bus.id)%>

    <div class="list_bus_left">
    <p class="list_bus_dept_text">
      Departure
    </p>

    <p class="list_bus_depature_time">
      <%= @bus_shift.departure_time.strftime("%I:%M %p")%>
    </p>

    <p class="list_bus_from_place">
      <% @from_location = Place.find(@bus_shift.from_location_id)%>
      <%= @from_location.place %>
    </p>
    </div>

    <p class="list_bus_line1">
    </p>

    <div class="list_bus_right">
    <p class="list_bus_arr_text">
      Arrival
    </p>

    <p class="list_bus_arrival_time">
      <%= @bus_shift.arrival_time.strftime("%I:%M %p")%>
    </p>

    <p class="list_bus_to_place">
      <% @to_location = Place.find(@bus_shift.to_location_id)%>
      <%= @to_location.place %>
    </p>
    </div>

    <%= link_to "/buses/#{bus.id}", method: :delete,class: "list_bus_delete_link",:data => {:confirm => 'Are you sure? Do you want to delete this bus?'} do %>
      <p class="list_bus_delete_bus">
         <em class="fa-solid fa-trash"></em>
      </p>
    <% end %>

    <a href="/buses/edit/<%=bus.id%>" data-method="get" class="list_bus_edit_link">
      <p class="list_bus_edit_bus">
      <em class="fa-solid fa-pencil"></em>
      </p>
    </a>

    <p class="list_bus_fare">
      INR <%= @bus_shift.fare %>
    </p>


</div>
<% end %>

</div>
<script>
        function dropdown() {
            document.getElementById("home_admin_dropdown").style.display = "block";
        }

        window.onclick = function(e) {
            if (!e.target.matches('.home_pola_profile_2')) {
                var myDropdown = document.getElementById("home_admin_dropdown");
                if (myDropdown.style.display = "block") {
                    myDropdown.style.display = "none";
                }
            }
        }
</script>
